################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.lock
*.ipch
*.db
*.db-shm
*.db-wal
*.opendb
/array/x64/Debug/array.tlog
*.exe
*.recipe
*.ilk
*.log
*.pdb
*.txt
*.obj
*.idb
*.suo
*.lastbuildstate
*.tlog
*.lib
/addbinarysum2/x64/Debug/abs2.nativecodeanalysis.sarif
*.xml
*.sarif
/CPP_TUTO
/DelegatingConstructors
/DesignPatterns
/DynamicCasting
/DynamicCasting2
/friendFuncClass
